$primary-color: white;
$bg: black;

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

ul, li, div, body, main, section, aside, article, header, footer, nav {
  display: flex;
  flex-wrap: wrap;
}

li {  
  text-decoration: none;
}
#app {
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
}

.container {
  justify-content: center;
  width: 100%;
}

.fromContainer {
  align-items: center;
  flex-direction: column;
  height: fit-content;
  flex-wrap: nowrap;
  width: 100%;

  .form {
    height: 60px;
    width: 415px;
  }

  input {
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E5E5E5;
  }
  input:focus{
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #343434a1;
  }

  button{
    position: relative;
    z-index: 1;
    bottom: 28px;
    left: 390px;
    border: none;
    height: 16px;
    width: 16px;
    background: url("search.svg") no-repeat 50% 50%;
  }

  .results {
    width: 415px;
    height: fit-content;
  }

  ul {
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
    height: 370px;
    flex-wrap: nowrap;
    overflow: auto;
    
   
    li {
      justify-content: space-between;
      padding-left: 10px;
      min-height: 50px;
      padding-bottom: 5px;
      color: #343434ca;
      cursor: pointer;
      background: #fff;
      align-items: center;
    }

    .delete{
      margin-right: 10px;
      background: url("Vector13.svg") no-repeat 50% 50%;
      width: 16px;
      height: 16px;
      border: none;
    }
    
    .border {
      border-bottom: 1px solid #343434a1;
    }

    p{
      width: 50%;
      height: 100%;
      padding-top: 16px;
    }

    li:hover{
      color: #000;
    }
  }
}

.infoContainer {
  position: absolute;
  z-index: 1;
  top: 200px;
  flex-direction: column;
  width: 415px;

  p{
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid #343434a1;
  }
}

@media (max-width: 420px) {
  .fromContainer{

    .form {
      width: 300px;
    }
    button {
      left: 270px;
    }

    .results {
      width: 300px;
    }

  }
  
  .infoContainer {
    width: 300px;
  }
}